$bg-color--primary: #232223;
$bg-color--secondary: #323132;
$bg-color--third: #eae8dd;
$bg-color--fourty: #fffdf0;

$text-color--primary: #323132;
$text-color--secondary: #fffdf0;
$text-color--hover: #00b7cd;
$text-color--disabled: #a8a79f;
$text-color--error: red;

$button-color--primary: #00cd74;
$button-color--disabled: #e7e4d8;

$font-size--smallest: 10px;
$font-size--small: 13px;
$font-size--normal: 23px;
$font-size--large: 34px;

$font-family--regular: 'gotham-medium';
$font-family--bold: 'gotham-bold';
$font-family--boldest: 'gotham-black';