.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100px;
        height: 34px;
        background-image: url(/assets/images/loader.gif);
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &--visible {
        display: block;
    }
}